[CRAB]
jobtype = cmssw
scheduler = remoteGlidein

use_server = 0

[CMSSW]
datasetpath = -dataset-
pset = mw_with_grid.py
output_file = Event_BestPermutation_Weight_Error.txt


total_number_of_events = -1
number_of_jobs = 4000

[GRID] 
#ce_black_list=T2_BR_SPRACE,cream01.iihe.ac.be,heplnx206.pp.rl.ac.uk,heplnx208.pp.rl.ac.uk,T2_UK_SGrid_RALPP,T3_US_FNALLPC

[USER]
ui_working_dir =  /afs/cern.ch/work/j/jgomezca/public/ForUniandes/CMSSW_5_3_9/resultsCrab/mw_-output-
return_data = 1
copy_data               = 0
storage_element         = T2_CH_CERN
user_remote_dir         = JPThesis1/ 
publish_data=0
eMail                   = djp@cern.ch
